@model dotnet_store.Models.Product

<div class="card shadow-sm h-100">
    <div class="img-wrap position-relative">
        <span class="badge bg-success position-absolute top-0 end-0 m-2">İndirim</span>
        <img src="@Model.ImageUrl" alt="@Model.Name" class="card-img-top" style="height: 200px; object-fit: cover;" />
    </div>

    <div class="card-body border-top">
        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId"
           class="title text-truncate d-block mb-2">@Model.Name</a>

        <div class="price-wrap d-flex justify-content-between align-items-center">
            <span class="price-discount fw-bold">@Model.Price ₺</span>
            <a href="#" class="btn btn-sm btn-outline-light">
                <i class="fa-regular fa-heart"></i>
            </a>
        </div>
    </div>
</div>